{%  extends 'base.html.twig' %}
{% block title %} Toevoegen {% endblock %}
{% block stylesheets %}<link rel="stylesheet" type="text/css" href="{{ asset('CSS/forms.css') }}">{% endblock %}
{% block main %}
    {% if actie is defined %}
        <p class="server_response">uw actie is {{ actie }} doorgevoerd</p>
    {% elseif verzoek is defined %}
        <p class="server_response">uw verzoek is {{ actie }} doorgevoerd</p>
    {% endif %}
    {{ form_start(form) }}
    {% if(fout is defined) %}
        <p class="server_response">{{ fout }}</p>
    {% endif %}
    {{ form_end(form) }}
{% endblock %}